.footer-section {
  padding: 25px;
  font-family: $oswald-regular;
  color: $white-color;
  background-color: $dark-grey-color;
  text-align: center;
  .reserved {
    font-size: 16px;
    a {
      color: $brand-primary-color;
      text-decoration: none;
      @extend %transition;
      &:hover {
        color: $white-color;
      }
    }
  }
  .social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    .social-item {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $white-color;
        font-size: 18px;
        @extend %transition;
        &:hover {
          color: $brand-primary-color;
        }
      }
    }
  }
}